<div id="content" #content>
  <h1>Title</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Exercitationem illum eius magni optio alias consequuntur sed sequi nesciunt excepturi
    possimus, quasi ipsa, rem libero unde odit. Iusto labore quasi voluptatibus ipsa
    excepturi impedit, eos blanditiis totam odit similique illo, dolore voluptatem
    reprehenderit deleniti. Cumque aspernatur iure corrupti officiis quia! Ducimus
    rerum atque, reprehenderit voluptatem eveniet dolor sunt doloribus nihil adipisci
    modi voluptates totam, voluptas doloremque fugit mollitia? Omnis molestiae soluta est
    in sequi libero pariatur repudiandae cumque quasi nisi neque iure adipisci, culpa nobis
    harum. Corporis quos aut voluptatem qui
    laudantium suscipit laboriosam. Inventore ducimus eaque veniam quibusdam. Magnam, quae.</p>
</div>

<button (click)="downloadPDF()">Export to PDF</button>
